
<meta charset="utf-8">
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
  /*==============n_content_left=====================*/
.n_left{ width:225px; float:left;   overflow:hidden;}
.n_left .title{ padding:23px 0; background:#0059b4; text-align:center;}
.n_left .title span{ display:block; color:#fff; display:block; font-weight:bold; font-size:18px;  }
.n_left .title strong{ display:block; color:#adc0df; text-transform:uppercase; display:block;  font-size:10px; } 
.n_left {  }
.n_left .content{ margin-bottom:22px;}
.n_left .content a{ display:block;  border:1px solid #e9e9e9; border-top:none;  height:39px;  background:url(statics/moban_2/images/icon_left_li.png) 200px center no-repeat; }
.n_left .content a strong{ width:175px; margin:0 auto; display:block; position:relative; font-size:14px; color:#555555; line-height:38px; height:38px; overflow:hidden;}
.n_left .content a:hover { border:1px solid #999999; border-top:none;  background:url(statics/moban_2/images/icon_left_li_on.png) 200px center  no-repeat  #828384; color:#555555;}
.n_left .content a:hover strong{  font-weight:bold; color:#fff;}
.n_left a.on {border:1px solid #999999; border-top:none;background:url(statics/moban_2/images/icon_left_li_on.png) 200px center  no-repeat  #828384; color:#fff;}
.n_left a.on strong{ font-weight:bold; color:#fff;}
.n_left .link_box a{ display:block; margin-bottom:10px;}
</style>

    <section class="n_left">

        <div class="title">
          <span>工程案例</span>
          <strong>Decoration Engineering</strong>
          
        </div>
        <div class="content">
          <a class=" on" href="" title=""><strong>学校案例 </strong><i></i></a>
            <a href="" title=""><strong>医院案例</strong><i></i></a>
            <a href="" title=""><strong>其他案例</strong><i></i></a>
             
        </div>
     <div class="link_box">
    <a href=""><img src="statics/moban_2/images/pic_left1.jpg" alt="联系我们" /></a>
        <a href=""><img src="statics/moban_2/images/pic_left2.jpg" alt="产品展示" /></a>
        </div>
          <div class="clear"></div>
    </section>

<!--=============================================content_end=============================================-->
