<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^(statics|api|uploadfile|vango|phpMyAdmin|application|phpsso_server)(.*)" ignoreCase="false" />
                    <action type="None" />
                </rule>
                <rule name="已导入的规则 2">
                    <match url="^([0-9A-Za-z_/]*)/([0-9]+)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=show&amp;dir={R:1}&amp;id={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 3">
                    <match url="^([0-9A-Za-z_/]*)/([0-9]+)_([0-9]+)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=show&amp;dir={R:1}&amp;id={R:2}&amp;page={R:3}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 4">
                    <match url="^([0-9A-Za-z_/]*)/index_([1-9][0-9]*)\.html" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=lists&amp;dir={R:1}&amp;page={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 5">
                    <match url="^([0-9A-Za-z_/]*)/(index\.html)?" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?m=content&amp;c=index&amp;a=lists&amp;dir={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
