

<meta charset="utf-8">
<style type="text/css">
.main_box{ width:1200px; margin:0 auto;}
/*==============================--内页开始==============================-*/

.n_main_box{ margin:0px auto 0px auto; min-height:360px; position:relative;}
.n_main_box .main_box{ margin:0 auto; }
#n_banner{ height:380px; width:100%; overflow:hidden;}

.n_title{ position:relative; height:48px; line-height:48px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
.n_title .main_box{ position:relative; border-right:1px solid #e5e5e5;}
.n_nav{ position:absolute; left:0; top:0; border-right:1px solid #e5e5e5;}
.n_nav a{display:block; text-align:center; position:relative; color:#5f5f6a ; font-size:14px; float:left; width:144px; border-left:1px solid #e5e5e5; }
.n_nav a i{ display:block; position:absolute; height:0px; z-index:1; top:-1px; left:0px; width:145px; background:url(statics/moban_3/images/bg_n_nav.png) center top no-repeat;}
.n_nav a strong{ position:relative; display:block; z-index:4;}
.n_nav a.on{ color:#fff;}
.n_nav a.on i{ height:56px;}
.n_nav a:hover{ color:#fff;}
.n_nav a:hover i{ height:56px; }

/*==============当前位置=====================*/
.position{ position:absolute; right:0; font-size:12px; background:url(statics/moban_3/images/icon_home.png) left center no-repeat; padding-left:15px;}
.position strong{ color:#777777; font-size:12px; font-weight:normal;}
.position strong img{ padding-right:5px; padding-top:2px;}
.position a{ color:#777777; display:inline-block; }
.position a:hover{color:#2a508f;}
.position .li{ color:#777777;  background:url(statics/moban_3/images/icon_sj.png) left center no-repeat; padding-left:13px; display:inline-block; font-size:12px; }
.position span{ color:#debb66 !important; font-size:12px;}

/*==============n_content=====================*/
.n_content{ min-height:400px; padding:30px 0;}

.title_box{ position:absolute; top:25px; left:0;  border-right:1px solid #e0e2e8; padding-right:30px;}
.title_box h1{display:block; font-size: 55px; font-family: "Arial"; color: #f1eff1; text-transform: uppercase;}
.title_box h2{display:block; margin-top:15px; color:#3d3d47; font-size: 22px;}
.title_box h3{display:block;font-size: 12px;  color: #3d3d47; text-transform: uppercase;}
</style>

<!--============================content============================-->

<article class="n_main_box">
  <div class="n_title">
    <div class="main_box">
      <div class="position">
          <strong>当前位置：</strong>
          <a href="index.html" title="网站首页">首页</a>
          <a href="" class="li" title="">走进百年</a>
          <span class="li">公司概况</span>
      </div>
      <div class="n_nav">
        <a class="on" href="走进百年.html"><i class="mark"></i><strong>公司概况</strong></a>
        <a href="企业文化.html" ><i class="mark"></i><strong>企业文化</strong></a>
        <a href="企业荣誉.html"><i class="mark"></i><strong>企业荣誉</strong></a>
        <a href="生产实力.html"><i class="mark"></i><strong>生产实力</strong></a>
        <a href="大事记.html"><i class="mark"></i><strong>大事记</strong></a>
      </div>
    </div>
  </div>
  <section class="n_content main_box">
  <section id="n_about">
    <article class="ar_article">

         <p>
         西安市工商行政管理局评为年度“守合同，重信用”单位，“百邦”品牌已成为西安市及陕西省著名商标，并通过了ISO9001质量管理体系认证、ISO14001环境管理体系认证、GB/T28001职业健康安全管理体系认证、HACCP
    危害关键控制点认证。本公司现有保健食品、营养膳食食品、功能性化妆品、外用保健品多达300余种，销售网络遍布全国各地，并远销欧盟、俄罗斯、日本、韩国及东南亚、中东等国家和地区。百年健康药业一贯秉承：真诚、
    合作、创新、共赢的企业理念，精心致力于医药保健品的研发、生产、销售。将“健康百年、美丽一生”的文化内涵传播到每个消费者心中，以消费者的健康为己任，并以对消费者高度负责的态度，严格执行产品的生产工艺标准
    及国家相关部门有关的政策法规，不断向市场提供品质卓越的产品。
    
    
         </p>

     </article>
  </section>
  </section>

</article>
