<!-- footer start -->



<footer id="footer_box" data-am-widget="footer"  class="am-footer am-footer-default" data-am-footer="{  }">

  {php $allFields = customField()}

  <div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "id="footer">



    <ul class="am-navbar-nav am-cf am-avg-sm-3 ">



        <li>



        <a href="tel:{$allFields[$siteid]['tel']}" class="">



          <span class="am-icon j_iconfont">&#xe630;</span>



          <span class="am-navbar-label">电话咨询</span>



        </a>



      </li>



     



        <li >



        <a href="{diy_top_link(17)}" class="">



          <span class=" am-icon j_iconfont">&#xe60a;</span>



          <span class="am-navbar-label">智能地图</span>



        </a>



      </li>



   



      



      <li >



        <a href="{diy_top_link(15)}" class="">



          <span class="am-icon j_iconfont">&#xe611;</span>



          <span class="am-navbar-label">业务领域</span>



        </a>



      </li>











    </ul>



  </div>



</footer>







<script src="{WAP_PATH}js/amazeui.min.js"></script>



</body>



</html>