<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="{WAP_PATH}i/favicon.png">
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="{WAP_PATH}i/app-icon72x72@2x.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="{WAP_PATH}i/app-icon72x72@2x.png">
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="{WAP_PATH}i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">


<!--j_meta-->
<meta name="full-screen" content="yes">
<meta name="x5-fullscreen" content="true">

<link rel="stylesheet" href="{WAP_PATH}css/j_ui.css">
<link rel="stylesheet" href="{WAP_PATH}css/j_raset.css">
<link rel="stylesheet" href="{WAP_PATH}css/j_animate.css">
<link rel="stylesheet" href="{WAP_PATH}css/j_app.css">

<script src="{WAP_PATH}js/jquery.min.js"></script>
</head>

<body id="index" >

<!-- header start -->
<header id="header" data-am-widget="header" class="" style="position: fixed; top: 0; left: 0; width: 100%;"  >
  <div class="box"> <a id="logo" href="index.html"><img src="{WAP_PATH}images/logo.png" alt=""  /></a>
   
     <div id="bnt_list">
      <button class="am-btn" data-am-offcanvas="{target: '#aside_nav'}"><img src="{WAP_PATH}images/bnt_nav_right.png" height="50" alt="菜单"/></button>
    </div>
  </div>
</header>
 
<div class="clear" style="height: 50px;"></div>
<!-- 侧边栏内容 -->
<aside id="aside_nav" class="am-offcanvas"> 
  <div class="am-offcanvas-bar am-offcanvas-bar-flip">
    <div id="nav" class="am-offcanvas-content">
      <ul class="am-list admin-sidebar-list"  >
       
       		<li><a href="#banner" title="" class="a"><strong>Home</strong><span><i></i></span></a></li>
            <li  ><a href="#section1" title="" class="a"><strong>About ZZM</strong><span><i></i></span></a> </li>
            <li ><a href="#section2" title="" class="a"><strong>Application scenarios</strong><span><i></i></span></a>
            	 
            </li>
            <li><a href="#section3" title="" class="a"><strong>Download</strong><span><i></i></span></a>
            	 
            </li>
            <li><a href="#section4" title="" class="a"><strong>Management team</strong><span><i></i></span></a>
            	 
            </li>
            <li><a href="#section5" title="" class="a"><strong>Company partners</strong><span><i></i></span></a>
            	 
            </li>
            <li><a href="#section6" title="" class="a"><strong>Appreciation concept</strong><span><i></i></span></a>
            	 
            </li>
            <li><a href="#section7" title="" class="a"><strong>Community</strong><span><i></i></span></a>
            	 
            </li>
            <li><a href="list.html" title="" class="a"><strong>News</strong><span><i></i></span></a>
            	 
            </li>
      
      </ul>
    </div>
  </div>
</aside>
 
<!-- header end --> 

<!-- content start -->
<script type="text/javascript" src="{WAP_PATH}js/three.min.js"></script>
<section id="banner"  >
     <div class="main_box"  aos="zoom-in-up" aos-duration="1000">
  	<img src="{WAP_PATH}images/text_banner.png" alt=" ">
    <h1><a href="#section1" title="">readmore</a></h1>
  </div>
  
  <script type="text/javascript">
var SEPARATION = 100, AMOUNTX = 50, AMOUNTY = 50;

var container;
var camera, scene, renderer;

var particles, particle, count = 0;

var mouseX = 500, mouseY = -500;

var windowHalfX = window.innerWidth / 2;
var windowHalfY = window.innerHeight / 2;

init();
animate();

function init() {

	container = document.createElement( 'div' );
	document.body.appendChild( container );

	camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 8000 );
	camera.position.z = 1000;

	scene = new THREE.Scene();

	particles = new Array();

	var PI2 = Math.PI * 2;
	var material = new THREE.ParticleCanvasMaterial( {

		color: 0xffffff,
		program: function ( context ) {

			context.beginPath();
			context.arc( 0, 0, 1, 0, PI2, true );
			context.fill();

		}

	} );
 var i = 0;

	for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

		for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

			particle = particles[ i ++ ] = new THREE.Particle( material );
			particle.position.x = ix * SEPARATION - ( ( AMOUNTX * SEPARATION ) / 2 );
			particle.position.z = iy * SEPARATION - ( ( AMOUNTY * SEPARATION ) / 2 );
			scene.add( particle );

		}

	}

	renderer = new THREE.CanvasRenderer();
	renderer.setSize( window.innerWidth, window.innerHeight );
	container.appendChild( renderer.domElement );

//	document.addEventListener( 'mousemove', onDocumentMouseMove, false );
//	document.addEventListener( 'touchstart', onDocumentTouchStart, false );
//	document.addEventListener( 'touchmove', onDocumentTouchMove, false );

	//

	window.addEventListener( 'resize', onWindowResize, false );

}

function onWindowResize() {

	windowHalfX = window.innerWidth / 2;
	windowHalfY = window.innerHeight / 2;

	camera.aspect = window.innerWidth / window.innerHeight;
	camera.updateProjectionMatrix();

	renderer.setSize( window.innerWidth, window.innerHeight );

}

//

function onDocumentMouseMove( event ) {

	mouseX = event.clientX - windowHalfX;
	mouseY = event.clientY - windowHalfY;

}

function onDocumentTouchStart( event ) {

	if ( event.touches.length === 1 ) {

		event.preventDefault();

		mouseX = event.touches[ 0 ].pageX - windowHalfX;
		mouseY = event.touches[ 0 ].pageY - windowHalfY;

	}

}

function onDocumentTouchMove( event ) {

	if ( event.touches.length === 1 ) {

		event.preventDefault();

		mouseX = event.touches[ 0 ].pageX - windowHalfX;
		mouseY = event.touches[ 0 ].pageY - windowHalfY;

	}

}

//

function animate() {

	requestAnimationFrame( animate );

	render();


}

function render() {

	camera.position.x += ( mouseX - camera.position.x ) * .05;
	camera.position.y += ( - mouseY - camera.position.y ) * .05;
	camera.lookAt( scene.position );

	var i = 0;

	for ( var ix = 0; ix < AMOUNTX; ix ++ ) {

		for ( var iy = 0; iy < AMOUNTY; iy ++ ) {

			particle = particles[ i++ ];
			particle.position.y = ( Math.sin( ( ix + count ) * 0.3 ) * 50 ) + ( Math.sin( ( iy + count ) * 0.5 ) * 50 );
			particle.scale.x = particle.scale.y = ( Math.sin( ( ix + count ) * 0.1 ) + 1 ) * 2 + ( Math.sin( ( iy + count ) * 0.1 ) + 1 ) * 2;

		}

	}

	renderer.render( scene, camera );

	count += 0.1;

}
</script>
</section>
 
 
 <main id="s_main_box">
 	<section class="section"  id="section1">
    <div class="floor f1 margin_auto_1">
    	<div class="j_article">
   	   
   	  		<div class="content"  >
			 <p aos="fade-up" aos-duration="1000">
			 	<img src="{WAP_PATH}images/title_about.png" height="14" alt="About ZZM">
			 </p>
			  
			 <p aos="fade-up" aos-duration="1000" style=" color: #082463; font-weight: 700; text-transform: uppercase;">
			 	Create a global cultural <br>

and entertainment digital platform
			 </p>
			 <p aos="fade-up" aos-duration="1000">
			 	The ZZM team takes advantage of its own industry experience and block 
chain technology to achieve strategic cooperation with a large number of 
large enterprises.
			 </p>
			 <p aos="fade-up" aos-duration="1000">
			 	The block chain technology is applied to the cultural entertainment industry 
and a global cultural and entertainment digital platform is designed to solve 
the problem.At present, the pain points of cultural and entertainment indus-
try, support the creators of the new generation of cultural content, and cha-
nge the organizational structure of the culture and entertainment industry
			 </p>
			 <p aos="fade-up" aos-duration="1000">
			 	Reconstruction of the entertainment industry network and operation mode 
in the era of Pan entertainment.
			 </p><br>

			 <p aos="zoom-in-up" aos-duration="1000">
			 	<img src="{WAP_PATH}images/pic_f1.png" width="100%" alt="">
			 </p>
		  </div>
  	  	 
   	  	 
    	</div>
    </div>
    	 <div class="clear"></div>
    </section>
    
    <section class="section"  id="section2">
    <div class="floor f2">
    	<div class="margin_auto_1">
		 
		  <div class="j_article" >
			  <p aos="fade-up" aos-duration="1000"><img src="{WAP_PATH}images/title_application.png" height="14px;" alt="Application scene" /></p>
			  <p aos="fade-up" aos-duration="1000">The ZZM application scenario is widely and feasible, and it is divided into three 
main categories: content distribution, de centralization, storage,Fragmentation 
time.</p><br>

		  </div>
   		 <div class="content"  aos="fade-up" aos-duration="1000">
			   <div class="content" id="sy_application" >
				<ul class="img_size">
					<li class="li1" >
					 <div class="mark"></div>
						<div class="title_box">
							<h1>Content distribution</h1>
						</div>

						<div class="info_box">
						<div class="team_article">
							 <div class="content">
								<div class="title">
									<h1>Content distribution</h1>
									 
								</div>

								<div class="text">
									 Taking advantage of block chain’s unique features of trusted data environment, all originators can easily, quickly, and cheaply complete the original announcement, copyright registration, and crowdfunding of their work. Besides, they can upload their creative contents to the decentralized storage system to provide themselves with a one-stop adjective asset management solution.
								</div>
							</div>
							<div class="clear"></div>
						</div> 
					</div>


					 </li>
					<li class="li2"  >
					 <div class="mark"></div>
							<div class="title_box">
								<h1>Decentralized storage </h1>
							  
							</div>

							<div class="info_box">
							<div class="team_article">
								 <div class="content">
									<div class="title">
										<h1>Decentralized storage </h1>
									</div>

									<div class="text">
										The ZZM platform provides decentralized storage services for valuable information created by originators, such as written text, film and television works, etc. and creatively integrates decentralization solutions based on IPFS protocol. 
									</div>
								</div>
								<div class="clear"></div>
							</div> 
						</div>


						 </li>
					<li class="li3" >
							 <div class="mark"></div>
							<div class="title_box">
								<h1>Fragmentation time</h1>
								 
							</div>

							<div class="info_box">
							<div class="team_article">
								 <div class="content">
									<div class="title">
										<h1>Fragmentation time</h1>
									</div>

									<div class="text">
										Users can buy star time via ZZMToken. For example, a user can find the star his girlfriend likes on ZZM platform and give him/her certain amount of ZZMToken to ask him/her to record a birthday wish video for his girlfriend.
									</div>
								</div>
								<div class="clear"></div>
							</div> 
						</div>


						 </li>
					<div class="clear"></div>
				</ul>
				<div class="line"></div>
		 </div>
		 </div>
		 

    		<div class="clear"></div>
    	</div>
    </div>
    	 <div class="clear"></div>
    </section>
    
    <section class="section"  id="section3">
		<div class="floor f3">
			<div class="margin_auto_1">
			  <div class="box" aos="fade-up" aos-duration="1000">
				<div class="title" >
				   <img src="{WAP_PATH}images/title_down.png" height="14" /> 
			  </div>
				<div class="content"  aos="fade-up" aos-duration="1000">
				<ul class="am-avg-sm-3 am-avg-md-3 am-avg-lg-3">
					 <li>
						<a href="upload/baipishu.rar" target="_blank"><img src="{WAP_PATH}images/icon_down1.png" alt=""><h1>white paper</h1></a>
					 </li>
					 <li>
						<a href=""><img src="{WAP_PATH}images/icon_down2.png" alt=""><h1>ZZM Purse</h1></a>
					 </li>
					 <li>
						<a href=""><img src="{WAP_PATH}images/icon_down3.png" alt=""><h1>Second you APP</h1></a>
					 </li>
				 </ul>
			 </div>
			  </div>
				<div class="clear"></div>
			</div>
		</div>
    	 <div class="clear"></div>
    </section>
    
    <section class="section"  id="section4">
    <div class="floor f4">
    	<div class="margin_auto_1">
    	 
    	
		  <div class="box">
		  <div class="title"  aos="fade-up" aos-duration="1000">
			  <img src="{WAP_PATH}images/title_team.png" height="14" alt="Management team">
			  <p>
			  	Enriching the global community and exchange channels 
to promote ZZM value dissemination
			  </p>
		  </div>
   		 <div class="content" id="sy_team" >
   		   <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
      <ul class="am-tabs-nav am-cf">
          <li class="am-active"><a href="[data-tab-panel-0]">Li Jinlong</a></li>
          <li class=""><a href="[data-tab-panel-1]">William </a></li>
          <li class=""><a href="[data-tab-panel-2]">Li Zhan</a></li>
      </ul>
      <div class="am-tabs-bd">
          <div data-tab-panel-0 class="am-tab-panel li am-active">
             <div class="box">
   					<img src="{WAP_PATH}images/pic_team1.jpg" />
   				</div>
			<div class="title_box">
				 <h1>Li Jinlong</h1>
				<strong>CEO </strong>
			</div>

			<div class="info_box">
			<div class="team_article">
				 <div class="content">
					<div class="title">
						 <h1>Li Jinlong</h1>
						<strong>CEO </strong>
					</div>

					<div class="text">
						A rising star of the blockchain, one of the founders of ZZM, graduated from the Faculty of Economics of Shandong University. During his tenure at the school, he was invited to participate in the e-commerce platform seminars. After graduation, he successively worked in the internet industry, financial industry and e-commerce platform In 2015, after being invited to attend the "2015 Top 100 Corporate Finance Summits", he was deeply inspired by the transformation of the research blockchain and has a deep and deep love for the blockchain. The goal is to apply the blockchain to the entertainment industry and land it.
					</div>
				</div>
				<div class="clear"></div>
			</div> 
		</div>
   				
          </div>
          <div data-tab-panel-1 class="am-tab-panel li">
            <div class="box">
						<img src="{WAP_PATH}images/pic_team2.jpg" />
					</div>
			<div class="title_box">
				<h1>William Jefferson Clinton</h1>
			 <strong>ZZM promoter</strong>
			</div>

			<div class="info_box">
			<div class="team_article">
				 <div class="content">
					<div class="title">
						<h1>William Jefferson Clinton</h1>
						<strong>ZZM promoter</strong>
					</div>

					<div class="text">
						Born in New York, USA, he graduated from New York University, a famous American economist and early bitcoin preacher. He has participated in numerous project investments, including Ethereum and Ribo.
					</div>
				</div>
				<div class="clear"></div>
			</div> 
		</div>
          </div>
          <div data-tab-panel-2 class="am-tab-panel li">
            <div class="box">
							<img src="{WAP_PATH}images/pic_team3.jpg" />
						</div>
						<div class="title_box">
							<h1>Li Zhan</h1>
   						 <strong>Global market operation director</strong>
						</div>

						<div class="info_box">
						<div class="team_article">
							 <div class="content">
								<div class="title">
									<h1>Li Zhan</h1>
   						 <strong>Global market operation director</strong>
								</div>

								<div class="text">
									ZZM Project Operations Director, Master of Finance in South Korea, has a wealth of study experience and international perspective. In 2013, he founded China Trust Holding Co., Ltd., and founded the founder of three brands, the vice chairman of Shandong Lu Shang Alliance, and the founder of Dream Charity. In the beginning of 2015, he entered the currency circle and participated in the investment in blockchain, project operation and summit forum for the following two years. He has rich operation experience in blockchain projects and has rich cooperation among blockchain communities and exchanges in South Korea Channel dedicated to promoting the spread of ZZM value.
								</div>
							</div>
							<div class="clear"></div>
						</div> 
					</div>
					
          </div>
      </div>
      <ul >
   		  
				 <div class="clear"></div>
   		</ul>
  </div>

			
		 </div>
		  </div>

    		<div class="clear"></div>
    	</div>
    </div>
    	 <div class="clear"></div>
    </section>
    
        
  <!--================================j_弹窗表单===================================-->
		<div id="page_show_box">
			<div class="bg_box"></div>
			<div class="box">
				<div id="page_ar">
				   <div class="ar_box ">
					<div id="show_team">


					</div>
					 <div id="bnt_close" class="bnt_close_ar" ><img src="{WAP_PATH}images/bnt_close.png" /></div>
					</div>

				</div>


			</div>
		</div>
		<script>
	
	$(function(){
		  
	    $('#sy_team  .li').click(function() {
		 
		var index = $('#sy_team .li').index(this);
		var info_content =  $("#sy_team .info_box:eq(" + index + ")").html();
		$("#show_team").html(info_content);
		$("#page_show_box .box").removeClass("j_ar_hide");
		$("#page_show_box").animate({top:"0px"},100);
		$("#page_show_box .bg_box").fadeIn( );
		$("#page_show_box").fadeIn( );
		$("#page_show_box .ar_article p:last-child").addClass("no_padding");
		   return false;
		  
	   });
		 $('#sy_application  li').click(function() {
		 
		var index = $('#sy_application li').index(this);
		var info_content =  $("#sy_application .info_box:eq(" + index + ")").html();
		$("#show_team").html(info_content);
		$("#page_show_box .box").removeClass("j_ar_hide");
		$("#page_show_box").animate({top:"0px"},100);
		$("#page_show_box .bg_box").fadeIn( );
		$("#page_show_box").fadeIn( );
		$("#page_show_box .ar_article p:last-child").addClass("no_padding");
		   return false;
		  
	   });
		//弹窗
	 $(".bnt_close_ar").click(function(){

		$("#page_show_box .bg_box").fadeOut(0);

		 $("#page_show_box").fadeOut(300);

		});
	});
		
</script>
    
    <section class="section"  id="section5">
    <div class="floor f5">
    	<div class="margin_auto_1">
    	 
    	
		  <div class="j_article">
		  <div class="title"  aos="fade-up" aos-duration="1000">
			   <p>
			   	<img src="{WAP_PATH}images/title_partner.png" height="14" alt="Cooperation company" />
			   </p>
			   <p>
			   	Create a global cultural <br>
and entertainment digital platform
			   </p>
		  </div>
   		 <div class="content" >
			<ul>
			   
			  	<li ><a href="javascript:void(0)"><img src="{WAP_PATH}images/logo1.png" alt=""></a></li>
			  	<li ><a href="javascript:void(0)"><img src="{WAP_PATH}images/logo2.png" alt=""></a></li>
			  	<li  ><a href="javascript:void(0)"><img src="{WAP_PATH}images/logo3.png" alt=""></a></li>
			  	<li  ><a href="javascript:void(0)"><img src="{WAP_PATH}images/logo4.png" alt=""></a></li>
			  	<li ><a href="javascript:void(0)"><img src="{WAP_PATH}images/logo5.png" alt=""></a></li>
			  	 
			  </ul>
		 </div>
		  </div>

    		<div class="clear"></div>
    	</div>
    </div>
    	 <div class="clear"></div>
    </section>
    <section class="section"  id="section6">
    <div class="floor f6">
    	<div class="margin_auto_1">
		  
		   
   		 <div class="j_article">
   		 	<p style="text-align: center;" aos="fade-up" aos-duration="1000">
   		 		<img src="{WAP_PATH}images/title_appricition.png" height="14" alt="Appreciation idea">
   		 	</p>
			  <p style="text-align: center;" aos="fade-up" aos-duration="1000"> 
			  	Supporting the creators of the new generation of cultural 
content to change the organizational structure of the 
culture and entertainment industry
			  </p><br>

			  <p style="text-align: center;"  aos="fade-up" aos-duration="1000"> 
			  	<img src="{WAP_PATH}images/pic_apprecition.jpg" width="90%" alt="">
			  </p>
		 </div>
		 

    		<div class="clear"></div>
    	</div>
    </div>
    	 <div class="clear"></div>
    </section>
    <section class="section"  id="section7">
    <div class="floor f7">
    	<div class="margin_auto_1">
		  <div class="box">
		  <div class="title"  >
			 <img src="{WAP_PATH}images/title_shart.png" height="14" alt="Sharing community">
		  </div>
   		 <div class="content">
			 <aside id="shart_box"   >
			 	<a href="https://www.facebook.com/profile.php?id=100023796438893" class="li1" title="facebook" target="_blank"><img class="icon" src="{WAP_PATH}images/icon_facebook.png" height="17.5" alt=""></a>
			 	<a href="https://twitter.com/BruceLe89807081/status/952445141674967040" class="li2" title="twitter" target="_blank"><img class="icon" src="{WAP_PATH}images/icon_twitter.png" height="17.5" alt=""></a>
			 	<a href="https://t.me/joinchat/AAAAAEzIUeAVT5QWmUlbKg" class="li3" title="telegram" target="_blank"><img class="icon" src="{WAP_PATH}images/icon_telegram.png" height="17.5" alt=""></a>
			 	<a href="https://youtu.be/VIyD9A0KmTs" class="li4" title="youtube" target="_blank"><img class="icon" src="{WAP_PATH}images/icon_youtube.png" height="18" alt=""></a>
			 	<a href="https://weibo.com/6389837997/profile?topnav=1&wvr=6&is_all=1" title="sina" class="li5" target="_blank"><img class="icon" src="{WAP_PATH}images/icon_sina.png" height="17" alt=""></a>
			 	<a href="javascript:void(0)" class="li6 ewm_box" ><img class="icon" src="{WAP_PATH}images/icon_wachat.png" height="17" alt=""><div class="ewm"><img class="pic_ewm" src="{WAP_PATH}images/ewm.png" alt=""></div></a>
			 </aside>
		 </div>
		  </div>

    		<div class="clear"></div>
    	</div>
    </div>
    	 <div class="clear"></div>
    </section>
    <div class="bar_fot" ><div class="line_bar"></div></div>
    
 
 	<div id="copyright">
 		© 2018 Copyright yuncheng bluck chain <a href="http://www.fgkj.cc" title="Powered By Vango" target="_blank">Powered By  Vango</a> 
 	</div>
 
 </main>

<!-- content end --> 
   <!--音乐 START-->
	<audio src="{WAP_PATH}css/bg.mp3"  autoplay loop class="audio"> </audio>
<!--音乐 END-->
<!-- footer start -->
<footer id="footer_box" data-am-widget="footer"  class="am-footer am-footer-default" data-am-footer="{  }">
  <section id="footer">
    <ul class="am-avg-sm-3 am-avg-md-3 am-avg-lg-3">
      <li> <a href="#section3"  class=" bnt_color" > <span class="am-icon j_iconfont" style="font-size: 14px;"><img src="{WAP_PATH}images/icon_nav1.png" height="15" alt="" /></span> <span class="am-navbar-label">download</span> </a> 
      </li>
      <li> <a href="list.html"  class=" bnt_color" > <span class="am-icon j_iconfont" style="font-size: 14px;"><img src="{WAP_PATH}images/icon_nav2.png" height="15" alt="" /></span> <span class="am-navbar-label">news</span> </a> 
      </li>
      <li> <a href="mailto:"  class=" bnt_color" > <span class="am-icon j_iconfont" style="font-size: 14px;"><img src="{WAP_PATH}images/icon_nav3.png" height="15" alt="" /></span> <span class="am-navbar-label">contact</span> </a> 
      </li>
       
    </ul>
  </section>
</footer>
<script src="{WAP_PATH}js/j_ui.js"></script>
<script src="{WAP_PATH}js/app.js"></script>
<script src="{WAP_PATH}js/j_animate.js"></script>
  <style type="text/css">
	  #gotop{ position:fixed; display: block; bottom: 52px; right: 0; z-index: 9999;}
	  #gotop img{ display: block;}
  </style>
  	<a id="gotop" href="#logo"><img src="{WAP_PATH}images/bnt_gotop.png" height="40"   alt="" /></a>
</footer>
 
<script>
$(function(){

	$("#gotop").click(function(){$("html,body").animate({scrollTop: 0}, 600);});

});
</script>
</body>
</html>
