





{template "wap","header"}



<!-- header end -->



<!-- 导航切换 -->


{if $CAT[parentid]!=0}
{php $con = count(subcat($CAT[parentid]))}

{if $con > 3}

{php $con = 3}

{/if}

{if $con > 0}

<nav id="n_nav_list" class="am-avg-sm-{$con} am-avg-md-{$con} am-avg-lg-{$con} ">



      {loop subcat($CAT[parentid]) $r}



      <li {if $catid==$r[catid]}class="on"{/if}><a href="{wapurl(diy_top_link($r[catid]))}">{$r['catname']}</a></li>



      {/loop}



</nav>

{/if}

{/if}





<!-- content start -->

<article class=" article nr_content">

  <section id="s_news">

    <div class="content">

           <div class="news_l_r1" style="margin: 0;">
            <ul>
             {pc:content action="lists" catid="$catid" num="5" order="listorder DESC" page="$page"}

            {loop $data $r}
                <li>
                    <a href="{$r['url']}" class="pic_box">  <img src="{$r[thumb]}" alt="{$r[title]}" /> </a>
                    <div class="text_box">
                        <h1><a href="{$r['url']}">{$r[title]}</a></h1>
                        <span>
                          {date('Y-m-d',$r[inputtime])}
                        </span>
                     <p>
                         {str_cut(strip_tags($r[description]),130,'...')}
                     </p>
                    </div>
                </li>

            {/loop}

            {/pc}  

             
            </ul>
        </div>

    </div>


  </section>
    <div class="clear"></div>

      <section class="ar_fot">



        <ul data-am-widget="pagination"



            class="am-pagination am-pagination-select" id="pages">



            {$pages}



            



        </ul>



    </section>
</article> 



</article>



<!-- content end -->















<!-- footer start -->







{template "wap","footer"}











