

{template "wap","header"}


<!-- header end -->








<article class="main_box nr_content">



   <section class="n_article">



    <div class="ar_title">



      <h1>{getcatname($catid)}</h1>



    </div>



    <article class="ar_content j_article"  style=" padding-top: 1rem;">



 {$content}



    </article>



<div class="pf_form">

  <div class="title">

      君度英杰在线咨询

        <i class="icon"></i>

    </div>

    <div class="content">

      <div class="up">

          24小时咨询热线<br />



            <strong>029-89522467</strong>

            陕西省西安市高新区唐延路旺座现代城D座606室

            

        </div>

        <div class="un">

        <form action="{APP_PATH}index.php?m=guestbook&c=index&a=register&siteid={$siteid}" method="post" name="myform" id="myform"  onsubmit="return form(this)">

              <input type="text" onfocus="if(value=='您的姓名') {value=''}" onblur="if (value=='') {value='您的姓名'}"  value="您的姓名" id="p_name" name="name" />

                <input type="text" onfocus="if(value=='您的电话') {value=''}" onblur="if (value=='') {value='您的电话'}"  value="您的电话" name="shouji" id="p_shouji" />

                <textarea  onfocus="if(value=='您的需求') {value=''}" onblur="if (value=='') {value='您的需求'}"  name="introduce"  id="p_introduce">您的需求</textarea>

                <input type="hidden" id="typeid" name="typeid" value="53">

               

                <input class="submit" type="submit" name="dosubmit"  value="立即提交" />

            </form>

        </div>

    </div>

</div>



            <div class="un_box"  style=" padding-top: 1rem;">



              <iframe src="map.html" width="100%" height="300" frameborder="0"></iframe>



            </div>





 <script type="text/javascript">

function form(field, alerttxt)



{



    var isNull = /^[\s'　']*$/



    if (isNull.test(document.getElementById("p_name").value) || document.getElementById("p_name").value == "您的姓名") {



        alert("请填写姓名!")



        return false;



    }



    if (isNull.test(document.getElementById("p_shouji").value) || document.getElementById("p_shouji").value == "您的电话") {



        alert("请填写联系电话!")



        return false;



    }



    if (isNull.test(document.getElementById("p_introduce").value) || document.getElementById("p_introduce").value == "您的需求") {



        alert("请输入您的需求!")



        return false;



    }



}

</script>

  </section>



</article>











<!-- content end -->











<!-- footer start -->







{template "wap","footer"}









