<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<link rel="shortcut icon" href="favicon.ico" />
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">

<meta name="author" content="银灵子" />
<link href="{CSS_PATH}reset.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<link href="{CSS_PATH}css.css" rel="stylesheet" rev="stylesheet" type="text/css"/>
<script type="text/javascript" src="{JS_PATH}jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{JS_PATH}web.js"></script>
</head>

<body>
{php $allFields = customField()}
{if isshiyong()==1}
{template "content","shiyong"}
{/if}
        <div class="bd">
            <form action="{APP_PATH}index.php" method="get" target="_blank">
        <input type="hidden" name="m" value="search"/>
        <input type="hidden" name="c" value="index"/>
        <input type="hidden" name="a" value="init"/>
        <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
        <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
                <input type="text" class="text" name="q" id="q"/><input type="submit" value="搜 索" class="button" />
            </form>
        </div>
        
<!--=============================================header=============================================-->
<div id="header">
    <div class="top">
        <div class=" main_box">
          <div class="left logo"> <a href="{siteurl($siteid)}/index.php" title=""><img src="{IMG_PATH}logo.png" alt="" /></a> </div>
          <div class="nav right">
            <ul>
       {php $tid = intval(diy_top_id($catid))}  
      {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC" return="dataa"}
       <li {if !$catid} class="on" {/if}><a class="a" href="{siteurl($siteid)}/index.php" title=""><strong>网站首页</strong></a></li>
       {loop $dataa $k $v}
       <li {if $catid==$v[catid] || $tid==$v[catid]} class="on"  {/if}><a class="a" href="{diy_top_link($v[catid])}" title=""><strong>{$v[catname]}</strong></a></li>
      {/loop}  
       {/pc}
            </ul>
          </div>
          <div class="clear"></div>
        </div>

    </div>  
</div>
<div class="zw_box"></div>

{if $catid}
<div class="n_banenr" style="background:url({IMG_PATH}n_banner.jpg) center top no-repeat;"></div>
{/if}