{template "content","header"}

<div class="n_main_box">
  <div class="main_box">
{template "content","left"}
    <div class="n_right">
       <div class="n_title">
             <h1>{$CATEGORYS[$catid][catname]}</h1>
            <div class="position">
                <strong>当前位置：</strong>
                <a href="{siteurl($siteid)}/index.php" title="">首页</a>{catpos($catid)}
            </div>
        </div>
        <div class="n_content">
          <div class="n_contact">
            <div class="up_box">
              <img src="{IMG_PATH}pic_n_contact.jpg" alt="" />
              <div class="content">
                <div class="up">
                  <h1>{$title}</h1>
                  <p>
                 {$content}
                  </p>
                </div>
                <div class="un">
                  <p>
                    {pc:block pos="contact"}{/pc}
                  </p>
                </div>
              </div>
            </div>
            <div class="un_box">
              <iframe src="map.html" width="100%" height="330" frameborder="0"></iframe>
            </div>

          </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<!--=============================================content_end=============================================-->



<!--===============================footer====================================-->
{template "content","footer"}