
<!--=============================================header=============================================-->
<meta charset="utf-8">
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
.n_content{ min-height:500px; padding-top:30px;}
/*==============当前位置=====================*/
.position{ position:absolute; right:0px; top:0; font-size: 12px; color:#848282; background:url(statics/moban_1/images/icon_home.jpg) left center no-repeat; padding-left:25px; }
.position strong{ color:#848282; font-size:14px; font-weight:normal;}
.position strong img{ padding-right:5px; padding-top:2px;}
.position a{ color:#848282; display:inline-block; }
.position a:hover{color:#0d67c9;}
.position .li{ color:#848282;  background:url(statics/moban_1/images/icon_sj.png) left center no-repeat; padding-left:13px; display:inline-block; font-size:12px; }
.position span{ color:#0d67c9 !important;  font-size:12px;}
/*==============n_content_right=====================*/
.n_right{ width:890px;float:right;   }
.n_title{ position:relative; height:50px; line-height:50px;  border-bottom:1px solid #dde0e2; }
.n_title h1{ font-size:16px; color:#333434; }
/*==============分页——银灵子=====================*/
.page { margin:0px auto 0px auto;}
.page .box{display:inherit; width:100%;  text-align: right; padding-top: 50px;}
.page a{ padding:0 12px; height:28px; line-height:28px; display:inline-block; border:1px solid #dcdcdc; margin:0 2px;  color:#fff; color:#444444; font-size:12px; }
.page .on{ background:#10578e; color:#fff !important;border:1px solid #10578e;}
.page span{ background:#10578e; color:#fff !important;border:1px solid #10578e;}
.page a:hover{ background:#10578e; color:#fff !important; text-decoration:none; border:1px solid #10578e; }
.page a.u_bnt{ transition: all 1s;-moz-transition: all 1s; /* Firefox 4 */-webkit-transition: all 1s; /* Safari 和 Chrome */
-o-transition: all 1s; /* Opera */}
/*===================视图列表================*/
.n_st_list{}
.n_st_list .content{ }
.n_st_list ul{ margin:-20px; margin-bottom:-30px;  }
.n_st_list li{ width:250px; background:#fff; border: 1px solid #fff;  padding:10px; float:left; margin:19px; }
.n_st_list  li a{ display:block;}
.n_st_list  li:hover{ border-width: 1px; border-color: rgb( 220, 220, 220 ); border-style: solid; background-color: rgb( 255, 255, 255 ); box-shadow: 0px 0px 10px 0px #ddd;}
.n_st_list  li img{ width:250px; margin:0 auto;  height:160px;  display:block;  display:block; background:#fff; }
.n_st_list  li .pic_box{ position:relative;}
.n_st_list  li .mark{opacity:0; filter:alpha(opacity=0); position:absolute; width:100%; height:100%; }
.n_st_list  li .text_box{ border-top:1px solid #fff; padding:10px; white-space: nowrap;overflow:hidden;text-overflow: ellipsis; }
.n_st_list  li h1{font-size:14px; color:#3c3b3b; display:block; margin:10px 0; }
.n_st_list  li span{position:relative; height:20px; line-height:20px; display:block; font-size:12px; color:#888888; background:url(statics/moban_1/images/icon_time.png) left center no-repeat; padding-left:25px; }
.n_st_list  li:hover .text_box{  }
.n_st_list  li:hover .text_box h1{ color:#10578e;}
</style>


    <section class="n_right">
       <section class="n_title">
             <h1>内部培训</h1>
            <div class="position">
                <strong>当前位置：</strong>
                <a href="index.html" title="网站首页">首页</a> -
                <a href="" title="">人力资源 </a> -
                <span>内部培训</span>
            </div>
        </section>
        <section class="n_content">
          <div  class="n_st_list  ">
               <div class="content  ">
              <ul class="gallery">
                <li> 
                  <a href="statics/moban_1/images/pic_px1.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px1.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px2.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px2.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px3.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px4.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px5.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px6.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px1.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px2.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                 <li> 
                 <a href="statics/moban_1/images/pic_px3.png"title="四维集团员工培训" >
                  <div class="pic_box"><img src="statics/moban_1/images/pic_px3.jpg" /></div> 
                  <div class="text_box">
                    <h1>四维集团员工培训</h1>
                    <span>2017-01-11</span>
                  </div>
                  </a> 
                </li>
                
                <div class="clear"></div>
              </ul>
              <div class="clear"></div>
              </div> 
               <div class="page">
                    <div class="box">
                    
                    <a href="">1</a>
                    <a  class="on" href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="">下一页</a>
                   <a href="">末页</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
      </section>
    </section>
    <div class="clear"></div>

<!--=============================================content_end=============================================-->


<!--===============================footer====================================-->

</body>
</html>