
<!--=============================================header=============================================-->

<meta charset="utf-8">
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
.n_content{ min-height:500px; padding-top:30px;}
/*==============当前位置=====================*/
.position{ position:absolute; right:0px; top:0; font-size: 12px; color:#848282; background:url(statics/moban_1/images/icon_home.jpg) left center no-repeat; padding-left:25px; }
.position strong{ color:#848282; font-size:14px; font-weight:normal;}
.position strong img{ padding-right:5px; padding-top:2px;}
.position a{ color:#848282; display:inline-block; }
.position a:hover{color:#0d67c9;}
.position .li{ color:#848282;  background:url(statics/moban_1/images/icon_sj.png) left center no-repeat; padding-left:13px; display:inline-block; font-size:12px; }
.position span{ color:#0d67c9 !important;  font-size:12px;}
/*==============n_content_right=====================*/
.n_right{ width:890px;float:right;   }
.n_title{ position:relative; height:50px; line-height:50px;  border-bottom:1px solid #dde0e2; }
.n_title h1{ font-size:16px; color:#333434; }

</style>

    <section class="n_right">
       <section class="n_title">
             <h1>集团简介</h1>
            <div class="position">
                <strong>当前位置：</strong>
                <a href="index.html" title="网站首页">首页</a> -
                <a href="" title="">关于四维 </a> -
                <span>集团简介</span>
            </div>
        </section>
        <section class="n_content">
          <article class="ar_article">
             
            <p class="t2">
              陕西四维实业集团历经十余年的奋斗，已经从最初单一的职业技能培训，迅速发展成为西安较有威望的集出国留学、移民、成人高考、网络教
育、企业培训、企业内训、劳务派遣、计算机培训和会计职称培训等教育相关领域为产业一体化的规模最大最有声望的教育集团。

            </p>
            <br />
           
              
          
            <p class="t2">
               <strong>集团主营业务</strong><br />
一、出国留学：每年300人以上；主要涉及国家有美国、德国、韩国、日本、澳大利亚、新加坡、加拿大等国家。<br />
二、移民：每年200余人；主要涉及国家有白俄罗斯、澳大利亚、韩国、乌克兰、新加坡等国家。<br />
三、职业教育：主要培养对象为在校大学生；目前每年培训计算机和会计职称人数稳定在14000人以上，已经培养学生的数量达到150000余人。<br />
四、学历教育：主要培养对象为社会在职人员的学历再教育提升；培养层次为专科、本科和研究生。每年招生量稳定在2000人以上，现在籍学生
6000余人，毕业时统一颁发西安交通大学毕业证书和学位证书。<br />
五、劳务派遣：派遣对象为专科、本科毕业生，派遣单位：西电集团、陕西邮政、延长石油、高铁乘务、西安地铁安检等多家大型企业，截至16
年输送人才2000余人。<br />
六、创业孵化：我集团现已成立“陕西四维创业服务有限公司”旨在为有立志创业、创新思维但受困于资金的在校大学生创业者提供资金和技术
支持。
            </p>
           

            <p class="t2">
               <strong>集团发展规划</strong><br />
集团依托西安交通大学为教育平台，以集团文化为组织核心，以发展上市为集团组织目标，力争三年达到如下规模：<br />
一、出国留学:每年留学人数达到2000人；<br />
二、移民人数：每年达到600人以上；<br />
三、学历教育年培养：6000人，实现在籍学生30000人目标；<br />
四、职业培训实现与陕西省20所高校年培训量达到2400人；<br />
五、劳务派遣实现与陕西省大型企业签署劳务派遣合作关系，年劳务派遣达到3000人。<br />
陕西四维实业集团有限公司是一家集教育、出国留学、移民、国内外劳务派遣、创业孵化等综合产业为一体的陕西知名企业。集团公司及下设分
公司注册资本共计6000余万元人民币，现有在职员工100余人，年营业额达1.2亿元。
            </p>
           
            <p class="t2">
               <strong>集团愿景 </strong><br />
我集团秉承“精勤求学、敦笃励志、果毅力行、忠恕任事”的西安交通大学校训，以“传承创新、勤奋、攀登”为集团导向，以李克强总理提出
“一带一路”为战略规划，以国际合作为纽带，将我集团打造成为以“教育服务社会”为己任的民族企业。
            </p>
  
          </article>
      </section>
    </section>
    <div class="clear"></div>

<!--=============================================content_end=============================================-->