
<meta charset="utf-8">
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
.n_content{ min-height:360px; padding-top:30px;}
/*==============当前位置=====================*/
.position{ position:absolute; line-height: 30px;  right:0px; top:0px; color:#8a8c8e; background:url(statics/moban_2/images/icon_home.png) left center no-repeat; padding-left:22px;}
.position span, .position a, .position i{ font-size:12px; color:#8a8c8e;}
.position em{ font-size:12px; color:#0059b4; font-style:normal;}
.position a:hover{ color:#0059b4;}
/*==============n_content_right=====================*/
.n_right{ width:925px;float:right;  }
.n_title{ position:relative;  border-bottom:1px solid #ccc; height:30px; line-height:30px; }
.n_title h1{ font-size:16px; border-bottom:2px solid #0059b4;   display:inline-block; color:#444444; margin-bottom:-1px; }

 /*==============分页——银灵子=====================*/
.page { margin:0px auto 0px auto;}
.page .box{display:inherit; width:100%;  text-align: right; padding-top: 50px;}
.page a{ padding:0 12px; height:28px; line-height:28px; display:inline-block; border:1px solid #dcdcdc; margin:0 2px;  color:#fff; color:#444444; font-size:12px; }
.page .on{ background:#0059b4; color:#fff !important;border:1px solid #0059b4;}
.page span{ background:#0059b4; color:#fff !important;border:1px solid #0059b4;}
.page a:hover{ background:#0059b4; color:#fff !important; text-decoration:none; border:1px solid #0059b4; }
.page a.u_bnt{ transition: all 1s;-moz-transition: all 1s; /* Firefox 4 */-webkit-transition: all 1s; /* Safari 和 Chrome */
-o-transition: all 1s; /* Opera */}

  /*==========================================产品列表=============================================*/
#n_case{}
#n_case ul{ margin:-15px; }
#n_case li{ float:left;  border-bottom:3px solid #fff;  position:relative;  width:290px;    background:#ebeef2;  display:block; margin:15px 14px; }
#n_case li a{ display:block;    overflow:hidden;}
#n_case li img{ width:290px; height:190px; display:block;}
#n_case li span{  width: 230px; padding:0 20px;  display:block; line-height:55px;  font-size:14px; color:#636363; padding-right:40px; white-space: nowrap;overflow:hidden;text-overflow: ellipsis; background:url(statics/moban_2/images/icon_left_li.png) 260px center no-repeat; }
#n_case li:hover span{    }
#n_case li:hover { border-bottom:3px solid #0059b4;}

</style>


    <section class="n_right">
       <section class="n_title">
             <h1>工程案例</h1>
             <div class="position">
          <span>当前位置：</span><a href="" title="">首页</a> <i>&gt;</i> <a href="" title="">工程案例</a><i>&gt;</i>  <em>学校案例</em>
        </div>
        </section>
        <section class="n_content">
          <section id="n_case">
                  <div class="up_box">
                       <ul>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case1.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                               <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case2.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case3.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case4.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case5.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case6.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case7.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case8.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                              <li>
                                <a href="产品详情.html" title="">
                                  <img src="statics/moban_2/images/pic_n_case9.jpg" alt="">
                                <span>高新一中高中部化学实验室案例            </span>
                              </a>
                              </li>
                                
                              
                              <div class="clear"></div>
                         </ul>
                    </div>
                    <div class="un_box">
                    <div class="page">
                        <div class="box">
                        <a href="">首页</a>
                        <a href="">上一页</a>
                        <a href="">1</a>
                        <a  class="on" href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                        <a href="">下一页</a>
                       <a href="">末页</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    </div>
                 </section>
      </section>
    </section>
    <div class="clear"></div>

<!--=============================================content_end=============================================-->



<!--===============================footer====================================-->
