

<meta charset="utf-8">
<!--=============================================content=============================================-->
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
.n_content{ min-height:500px; padding-top:30px;}
/*==============当前位置=====================*/
.position{ position:absolute; right:0px; top:0; font-size: 12px; color:#848282; background:url(statics/moban_1/images/icon_home.jpg) left center no-repeat; padding-left:25px; }
.position strong{ color:#848282; font-size:14px; font-weight:normal;}
.position strong img{ padding-right:5px; padding-top:2px;}
.position a{ color:#848282; display:inline-block; }
.position a:hover{color:#0d67c9;}
.position .li{ color:#848282;  background:url(statics/moban_1/images/icon_sj.png) left center no-repeat; padding-left:13px; display:inline-block; font-size:12px; }
.position span{ color:#0d67c9 !important;  font-size:12px;}
/*==============n_content_right=====================*/
.n_right{ width:890px;float:right;   }
.n_title{ position:relative; height:50px; line-height:50px;  border-bottom:1px solid #dde0e2; }
.n_title h1{ font-size:16px; color:#333434; }
/*==============分页——银灵子=====================*/
.page { margin:0px auto 0px auto;}
.page .box{display:inherit; width:100%;  text-align: right; padding-top: 50px;}
.page a{ padding:0 12px; height:28px; line-height:28px; display:inline-block; border:1px solid #dcdcdc; margin:0 2px;  color:#fff; color:#444444; font-size:12px; }
.page .on{ background:#10578e; color:#fff !important;border:1px solid #10578e;}
.page span{ background:#10578e; color:#fff !important;border:1px solid #10578e;}
.page a:hover{ background:#10578e; color:#fff !important; text-decoration:none; border:1px solid #10578e; }
.page a.u_bnt{ transition: all 1s;-moz-transition: all 1s; /* Firefox 4 */-webkit-transition: all 1s; /* Safari 和 Chrome */
-o-transition: all 1s; /* Opera */}
  /*==============新闻中心=====================*/
.n_news  { overflow:hidden;}
.n_news  ul{  overflow:hidden;}
.n_news  li{ display: block; height: 86px; padding:30px 0px;  border-bottom: 1px solid #edecec;}
.n_news  li .box{padding: 5px 0px 0px 90px; position: relative; }
.n_news  li a{  display:block;  font-size:15px; color:#252728; margin-bottom: 13px;}
.n_news  li p{ line-height:20px; font-size:12px; color:#909096;}
.n_news  li a:hover{ color:#10578e;}
.n_news  .date_box{ position:absolute; left:0px; top:-0px; border:1px solid #e0e1e3; text-align: center; width:50px; padding:8px 10px;}
.n_news  .date_box strong{ padding-bottom: 6px; border-bottom: 1px solid #e4e2e2; display:block; font-size: 30px;  color:#212122;}
.n_news  .date_box span{ font-size: 12px; color: #212122; margin-top: 9px; display:block; text-transform: uppercase;}
.n_news  li:hover .date_box{ background:#10578e;}
.n_news  li:hover .date_box strong{ color:#fff;}
.n_news  li:hover .date_box span{ color:#fff;}

</style>


    <section class="n_right">
       <section class="n_title">
             <h1>人才招聘</h1>
            <div class="position">
                <strong>当前位置：</strong>
                <a href="index.html" title="网站首页">首页</a> -
                <a href="" title="">人力资源 </a> -
                <span>人才招聘</span>
            </div>
        </section>
        <section class="n_content">
              <div class="n_news">
                <div class="content ">
                  <ul>
                    <li>
                      <div class="box">
                        <div class="date_box"> <strong>14</strong> <span>2017-04</span> </div>
                        <h1><a href="" title="">杨振宁：美国教育绝对没有中国的中学、小学、大学好</a></h1>
                        <p> 国家安排分省普通高校本科招生计划总量时，重点考虑各省高考报名人数和入学机会、经济支撑能力和高校办学条件、区域公平和国家重大战略等一
系列因素，每年各省高校招生计划随上述因素的变化动态调整... </p>
                      </div>
                    </li>
                    <li>
                      <div class="box">
                        <div class="date_box"> <strong>29</strong> <span>2017-04</span> </div>
                        <h1> <a href="" title="">实现五个确保力促教育公平</a> </h1>
                        <p> 国家安排分省普通高校本科招生计划总量时，重点考虑各省高考报名人数和入学机会、经济支撑能力和高校办学条件、区域公平和国家重大战略等一
系列因素，每年各省高校招生计划随上述因素的变化动态调整... </p>
                      </div>
                    </li>
                    <li>
                      <div class="box">
                        <div class="date_box"> <strong>30</strong> <span>2017-04</span> </div>
                        <h1><a href="" title="">多部门联合印发意见:不采用劳务派遣方式使用采编播管人员</a> </h1>
                        <p> 国家安排分省普通高校本科招生计划总量时，重点考虑各省高考报名人数和入学机会、经济支撑能力和高校办学条件、区域公平和国家重大战略等一
系列因素，每年各省高校招生计划随上述因素的变化动态调整... </p>
                      </div>
                    </li>
                    <li>
                      <div class="box">
                        <div class="date_box"> <strong>16</strong> <span>2017-04</span> </div>
                        <h1><a href="" title="">浦东启动劳务派遣“双随机”执法检查</a> </h1>
                        <p> 国家安排分省普通高校本科招生计划总量时，重点考虑各省高考报名人数和入学机会、经济支撑能力和高校办学条件、区域公平和国家重大战略等一
系列因素，每年各省高校招生计划随上述因素的变化动态调整... </p>
                      </div>
                    </li>
                    <li>
                      <div class="box">
                        <div class="date_box"> <strong>12</strong> <span>2017-04</span> </div>
                        <h1> <a href="" title="">你我亚玄人 共筑亚玄梦</a> </h1>
                        <p> 国家安排分省普通高校本科招生计划总量时，重点考虑各省高考报名人数和入学机会、经济支撑能力和高校办学条件、区域公平和国家重大战略等一
系列因素，每年各省高校招生计划随上述因素的变化动态调整... </p>
                      </div>
                    </li>
                    <li>
                      <div class="box">
                        <div class="date_box"> <strong>12</strong> <span>2017-04</span> </div>
                        <h1> <a href="" title="">一带一路实施“留学行动计划” 推进学历学位互认</a> </h1>
                        <p> 国家安排分省普通高校本科招生计划总量时，重点考虑各省高考报名人数和入学机会、经济支撑能力和高校办学条件、区域公平和国家重大战略等一
系列因素，每年各省高校招生计划随上述因素的变化动态调整... </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="page">
                <div class="box"> <a href="">1</a> <a  class="on" href="">2</a> <a href="">3</a> <a href="">4</a> <a href="">5</a> <a href="">下一页</a> <a href="">末页</a> </div>
                <div class="clear"></div>
              </div>
              </section>
            </section>
            <div class="clear"></div>

<!--=============================================content_end=============================================-->


<!--===============================footer====================================-->
