<meta charset="utf-8">
<!--=============================================header=============================================-->
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
.n_content{ min-height:360px; padding-top:30px;}
/*==============当前位置=====================*/
.position{ position:absolute; line-height: 30px;  right:0px; top:0px; color:#8a8c8e; background:url(statics/moban_2/images/icon_home.png) left center no-repeat; padding-left:22px;}
.position span, .position a, .position i{ font-size:12px; color:#8a8c8e;}
.position em{ font-size:12px; color:#0059b4; font-style:normal;}
.position a:hover{ color:#0059b4;}
/*==============n_content_right=====================*/
.n_right{ width:925px;float:right;  }
.n_title{ position:relative;  border-bottom:1px solid #ccc; height:30px; line-height:30px; }
.n_title h1{ font-size:16px; border-bottom:2px solid #0059b4;   display:inline-block; color:#444444; margin-bottom:-1px; }

 /*==============分页——银灵子=====================*/
.page { margin:0px auto 0px auto;}
.page .box{display:inherit; width:100%;  text-align: right; padding-top: 50px;}
.page a{ padding:0 12px; height:28px; line-height:28px; display:inline-block; border:1px solid #dcdcdc; margin:0 2px;  color:#fff; color:#444444; font-size:12px; }
.page .on{ background:#0059b4; color:#fff !important;border:1px solid #0059b4;}
.page span{ background:#0059b4; color:#fff !important;border:1px solid #0059b4;}
.page a:hover{ background:#0059b4; color:#fff !important; text-decoration:none; border:1px solid #0059b4; }
.page a.u_bnt{ transition: all 1s;-moz-transition: all 1s; /* Firefox 4 */-webkit-transition: all 1s; /* Safari 和 Chrome */
-o-transition: all 1s; /* Opera */}
/*===================首页日记================*/
#photo_list{  }
#photo_list ul{ margin:-13px;}
#photo_list li{ width:290px; height:230px; position:relative; display:block; overflow:hidden; float:left; margin:13px;}
#photo_list li a{ display:block;}
#photo_list li .pic_box{ position:relative; background:#000; }
#photo_list li img{width:290px; height:230px; display:block;}
#photo_list li .img{  }
#photo_list li .icon_play{ position:absolute; left:0; top:0; width:380px; height:260px; background:url(statics/moban_2/images/bnt_play.png) center no-repeat;} 
#photo_list li h1{ position:absolute; z-index:3; left:0; bottom:0; overflow:hidden; width:250px; height:0px; line-height:40px; padding:0 20px; white-space: nowrap;overflow:hidden;text-overflow: ellipsis;  color:#fff; font-size:14px; text-align:center; display:block; filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#AA000000', endColorstr='#AA000000');background:rgba(0,0,0,0.67);}
#photo_list li:hover h1{ height:40px;}
</style>


    <section class="n_right">
       <section class="n_title">
             <h1>企业相册</h1>
             <div class="position">
          <span>当前位置：</span><a href="" title="">首页</a> <i>&gt;</i> <a href="" title="">关于博思博   </a><i>&gt;</i>  <em>企业相册</em>
        </div>
        </section>
        <section class="n_content">
          <section id="photo_list">
            <ul>
                    <li aos="fade-up" aos-duration="3000" class="aos-init aos-animate">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo1.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="2000" class="aos-init aos-animate">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo2.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="1000" class="aos-init aos-animate">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo3.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="1000" class="aos-init">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo4.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="2000" class="aos-init">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo5.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="3000" class="aos-init">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo6.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                     <li aos="fade-up" aos-duration="1000" class="aos-init">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo7.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="2000" class="aos-init">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo8.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                    <li aos="fade-up" aos-duration="3000" class="aos-init">
                        <a href="">
                            <div class="pic_box"><img src="statics/moban_2/images/pic_photo9.jpg" alt=""></div>
                            <h1>博思博会议室</h1>
                        </a>
                    </li>
                     <div class="clear"></div>
                </ul>
        </section>
          <div class="un_box">
                    <div class="page">
                        <div class="box">
                        <a href="">首页</a>
                        <a href="">上一页</a>
                        <a href="">1</a>
                        <a  class="on" href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">5</a>
                        <a href="">下一页</a>
                       <a href="">末页</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    </div>
      </section>
    </section>
    <div class="clear"></div>
