
<!--=============================================header=============================================-->
<meta charset="utf-8">
<style type="text/css">
.main_box{ margin:0 auto; width:1200px;}
.n_content{ min-height:500px; padding-top:30px;}
/*==============当前位置=====================*/
.position{ position:absolute; right:0px; top:0; font-size: 12px; color:#848282; background:url(statics/moban_1/images/icon_home.jpg) left center no-repeat; padding-left:25px; }
.position strong{ color:#848282; font-size:14px; font-weight:normal;}
.position strong img{ padding-right:5px; padding-top:2px;}
.position a{ color:#848282; display:inline-block; }
.position a:hover{color:#0d67c9;}
.position .li{ color:#848282;  background:url(statics/moban_1/images/icon_sj.png) left center no-repeat; padding-left:13px; display:inline-block; font-size:12px; }
.position span{ color:#0d67c9 !important;  font-size:12px;}
/*==============n_content_right=====================*/
.n_right{ width:890px;float:right;   }
.n_title{ position:relative; height:50px; line-height:50px;  border-bottom:1px solid #dde0e2; }
.n_title h1{ font-size:16px; color:#333434; }
/*==============新闻详情=====================*/
.n_article { margin-bottom:20px;}
.n_article .ar_title{ padding:10px 0 20px 0; border-bottom:1px solid #ddd; margin-bottom: 10px;}
.n_article .ar_title h1{ font-size: 16px; display:block; text-align:center; margin-bottom:10px; line-height:30px;   font-weight: bold; color:#444444;}
.n_article .ar_title h2{height: 30px; font-size:12px;  display:block; text-align:center; color:#888888; line-height:30px;}
.n_article .ar_title h2 strong{ color:#b8b7bc;}
.n_article .ar_article{ padding-top:20px; padding-bottom:30px; min-height:400px;}
.n_article .bnt_page{ position:relative; height:40px; margin-bottom:10px; line-height:40px; font-size:12px; color:#8a8a8a;   border-top:1px dotted #e4e4e4;}
.n_article .bnt_page a{ color:#8a8a8a;}
.n_article .bnt_page a:hover{color:#007cc2;}
.n_article .back_box{ margin:40px auto 0 auto; padding-bottom:80px;}
.jiathis_style{ margin-top:10px;}
.n_article .bnt_page{ position:relative;}
.n_article .bnt_page .shart_box{ position:absolute; right:0; top:10px;}
#ar_fot{ position:relative; padding:15px 0; border-bottom:1px solid #ddd; border-top:1px solid #ddd;}
#ar_fot h1{ display:block; font-size:12px; line-height:30px; color:#777777; font-weight:bold;}
#ar_fot h1 a{ font-size:12px; color:#777777; font-weight:normal;}
#ar_fot h1 a:hover{ color: #0055B3;}
#ar_fot .bnt_back{ position:absolute; top:28px; right:0; color:#fff; background:#10578e; padding:0 25px; font-size:14px; height:30px; line-height:30px;}
#ar_fot .bnt_back:hover{ border-radius:3px;}

</style>


    <section class="n_right">
       <section class="n_title">
             <h1>人才招聘</h1>
            <div class="position">
                <strong>当前位置：</strong>
                <a href="index.html" title="网站首页">首页</a> -
                <a href="" title="">人力资源 </a> -
                <span>人才招聘</span>
            </div>
        </section>
        <section class="n_content">
          <article class="n_article">
          
             
                    <div class="ar_title">
                        <h1>2016年底“一带一路”沿线国家在华留学生达20多万</h1>
                        <h2><strong>发布时间：2016-11-09</strong> <strong>阅读次数：49</strong></h2>
                    </div>
                    <article class="ar_article">
                        <p class="t2">
                        国务院新闻办公室定于2017年5月11日下午3时在国务院新闻办新闻发布厅举行新闻发布会，请中宣部、教育部、文化部、新闻出版广电总局、中国国
际经济交流中心有关负责同志介绍推进与“一带一路”沿线国家民心相通情况，并答记者问。教育部副部长田学军：女生们、先生们，新闻界的朋友们，大
家下午好。首先，感谢新闻界朋友们多年以来对教育领域在推进我与“一带一路”沿线国家民心相通方面工作的关心和支持。非常高兴参加今天的新闻发布
会。下面，我先向大家简要介绍一下这方面工作的有关情况。
                        </p> 
                        
                     
                          
                        <p>
                       国之交在于民相亲，民相亲在于心相通。教育为国家富强、民族昌盛、人民幸福之本，在推进与“一带一路”沿线国家民心相通中，既具有粘合剂、催
化剂和润滑剂的功能，又具有基础性、先导性和“润物无声”的人文交流属性，发挥着越来越重要的作用。“一带一路”倡议提出后，中国教育积极行动，
制定了《推进共建“一带一路”教育行动》，重点从国际国内两个方面，强化务实合作，加大推进力度，促进民心相通，为“一带一路”建设厚植民意根基。 
                        </p>
                         <img src="images/pic_show_news.jpg"  style="display:block; margin:0 auto;" alt="" /><br /> 
                        
                        <p>
                     全面拓展与深化教育人文交流，为民心相通系牢纽带。发挥了包括中俄、中印尼在内的高级别人文交流机制的引领作用，共商共建共享了中国-东盟教育
交流周、教育部长圆桌会议、大学校长论坛等重要平台，打造了一批教育人文交流品牌活动，例如“中国-东盟双十万学生流动计划升级版”项目等。在国内
创造性采用省部签约共建方式，引领与推动14个签约省份在三方面着力，即在发挥区位优势深耕周边国家人文交流，发挥资源优势专耕特色人文交流，依托
品牌交流平台细耕专业领域人文交流等三方面，打出各自的 “优势牌”，唱出各自的“特色戏”，成为了推进“一带一路”民心相通的生力军。
                        </p>
                        <p>
                        即将到来的“一带一路”国际合作高峰论坛，将进一步扩大和展示教育推进我与沿线国家民心相通的丰硕成果，敬请大家期待。
                        </p>
                   
                    
                    </article>
                    
                    <div class="clear"></div>
                    <section id="ar_fot">
                      <h1><span>上一篇：</span><a href="">实现五个确保力促教育公平</a></h1>
                      <h1><span>下一篇：</span><a href="">浦东启动劳务派遣“双随机”执法检查</a></h1>
                        <a href="新闻中心.html" class="bnt_back">返回列表</a>
                    </section>
            
            </article>
      </section>
    </section>

<!--=============================================content_end=============================================-->


<!--===============================footer====================================-->
